body {
	background-color: white;
	font-family:sans-serif;
}

body, p, td {
	color: black;
	text-transform: none;
}

a:link, a:visited {
	color: #3c8dc5;
	text-decoration: underline;
	text-transform: none;
}

a:hover {
	color: #b2d1e5;
	text-decoration: underline;
	text-transform: none;
}

a:special {
	color: #6fb7e9;
}

dt {
	font-weight: bold;
}

#sitetable {
	border-collapse: collapse;
	border-spacing: 4px;
}

#sitetable td, #sitetable th {
	padding: 0px;
}

#headertd {
	border: 1px solid black;
	background-image:url('background.png');
	background-color:#747474;
	height:110px;
	width:700px;
	vertical-align:middle;
}

#headertd img {
	border:0px solid black;
	height: 100px;
	width: 680px;
}

#lefttd {
	border: 1px solid black;
	background-color:#3c8dc5;
	height:350px;
	width:200px;
	vertical-align:top;
}

#lefttd a:link, #lefttd a:visited {
	color: white;
	text-decoration: underline;
	text-transform: none;
}

h1 {
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}

#maintd {
	border: 1px solid black;
	background-color:white;
	height: 350px;
	width: 900px;
	vertical-align: top;
}

#maintd > table {
	border: 0px solid black;
	width: 100%;
}

#maintd img {
	max-width: 460px;
}

#righttd {
	border: 1px solid black;
	background-color:#3c8dc5;
	height:350px;
	width:200px;
	vertical-align:top;
}

#righttd a:link, #righttd a:visited {
	color: white;
	text-decoration: underline;
	text-transform: none;
}

/*
#righttd {
	border: 1px solid black;
	color:#dcd0bd;
	background-color:#9a9485;
	background-image:url('right_background_01.png');
	background-repeat:no-repeat;
	height:350px;
	width:200px;
	vertical-align:top;
}
*/

#footertd {
	border: 1px solid black;
	background-color: #747474;
	height:15px;
	width:700px;
	vertical-align:top;
}
